.hero{
    width: 100%;
    min-height: 100vh;
    background: #1b1c22
}

.heroNavLink{
    border: none;
    outline: none;
    background: transparent;
    font-size: 22px;
    margin-right: 24px;
    font-weight: 700;
    cursor: pointer;
    user-select: none;
    color: white;
}

@media (max-width: 860px) {
    .heroNavLink{
    font-size: 40px
    }
}

.heroNavLogo{
    font-size: 22px;
    color: #cb6ad2;
    font-weight: 900;
    user-select: none;
}

.heroNavMenu{
    padding-left: 80px;
}

.heroNavSearch{
    height: 40px;
    min-height:  40px;
}

@media (max-width: 860px) {
    .heroNavSearch{
    width: 100px;
    position: absolute;
    float: left;
    margin-top: 100px;
}
}

.inputSearch{
    border: none;
    outline: none;
    border-radius: 50px;
    border: 1px solid #2c2f39;
    background: transparent;
    padding: 10px 16px;
    width: 260px;
    color: #f9a5ff;
}

.heroNavSearch input::placeholder {
    color: #f9a5ff;
    letter-spacing:  1px;
}

@media (max-width: 860px){
    .heroNavSearch input{
        width: 170px;
    }
}

.heroNav{
    width: 100%;
    min-height: 80px;
    padding: 20px 0;
    background:  #212229;
}

.heroNav .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper{
    display: flex;
    align-items: center;
} 

#burger{
    color: #f9a5ff;
    cursor: pointer;
    display: none;
}

@media (max-width: 860px){
    #burger{
        display: block;
    }
}

@media (max-width: 1365px){
    .heroNav .container{
        max-width: 90%;
    }
}